* {
  font-family: "Monteserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.name {
  color:#edf0f1;
}
li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #006FCC;
  text-decoration: none;
}

header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #141414;
  color:#141414;
}

.logo {
  cursor: pointer;
  background-color: #141414;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #006FCC;
}

.nav__links li:nth-child(1) {
  padding: 0 20px;
}

button {
  padding: 9px 40px;
  background-color:#edf0f1;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color:#5c5c5c
}

.excursion {
  overflow: auto;
  display:flex;
}
.excursioncontent{
  display:flex;
  flex-direction:column;
  align-items:left;
  margin:auto;
}
.fttfcontent {
  display:flex;
  flex-direction:column;
  align-items:left;
  margin:auto;
}
.excursionimg{
  margin-right: 10px;
  margin-bottom: 10px;
}
.fttf {
  overflow: auto;
  display:flex;
  align-items:center;
  margin:auto;
}
.fttfimg {
  margin-left: 10px;
  margin-bottom: 10px;
}

.mywork {
  text-align:center;
  margin-top:50px;
  margin-bottom: 50px;
}

footer {
  background-color: #141414;
  color: #ffffff;
  padding: 4rem 1rem;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: #cccccc;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-main {
  display: flex;
  margin-bottom: 4rem;
}

.footer-column {
  flex-basis: 200px;
  flex-grow: 1;
  text-align: center;
}

.footer-heading {
  margin-bottom: 1rem;
}

.footer-link {
  display: block;
  width: max-content;
  padding: 5px 10px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .footer-main {
    flex-direction: column;
  }
}